<div class="mt-5 pb-4 pt-2 col-md-4 container-sm myclass" >
    <div class="col-md-8 offset-md-2" bg-dark text-white id="payform">
        <h3 style="font-family: sans-serif"><strong>Layer Angular</strong></h3>
        <form #login="ngForm" (ngSubmit)="pay()">
            <div class="form-group">
                <label for="emailId"> Email ID: </label>
                <input #emailControl="ngModel" type="email" class="form-control" required id="emailId"
                    [(ngModel)]="token.email_id" name="emailId" ngModel />
                <div *ngIf="emailControl.touched && emailControl.invalid" class="alert alert-danger">
                    Email is required
                </div>
            </div>
    
            <div class="form-group">
                <label for="mobileNumber"> Contact Number </label>
                <input #numberControl="ngModel" type="text" class="form-control" required id="mobileNumber"
                    [(ngModel)]="token.contact_number" name="mobileNumber" ngModel />
                <div *ngIf="numberControl.touched && numberControl.invalid" class="alert alert-danger">
                    Contact Number is required
                </div>
            </div>
    
            <div class="form-group">
                <label for="amount"> Amount </label>
                <input #amountControl="ngModel" type="number" class="form-control" required id="amount"
                    [(ngModel)]="token.amount" name="amount" ngModel />
                <div *ngIf="amountControl.touched && amountControl.invalid" class="alert alert-danger">
                    Amount is required
                </div>
                <div *ngIf="amountControl.touched && amountControl.value <= 0" class="alert alert-danger">
                    Amount should be greater than 0
                </div>
            </div>
    
            <div class="form-group">
                <label for="mtx"> Currency </label>
                <input type="text" value="INR" readonly class="form-control" id="currency" [(ngModel)]="token.currency"
                    value="INR" name="currency" placeholder="INR" />
            </div>
            <br />
            <div>
                <button [disabled]="
              emailControl.invalid ||
              amountControl.invalid ||
              numberControl.invalid ||
              numberControl.untouched ||
              emailControl.untouched ||
              amountControl.untouched
            " class="btn btn-success col-md-12" type="submit" id="pay">
                    Pay
                </button>
            </div>
        </form>
    </div>
</div>

