#payform{
    width: 300px;
    position: fixed;
    left: 150px;
    top: 50px;
    align-items: center;
}

#pay{
    align-self: center;
    width: 100px;
    margin-left: 100px;
}

.alert{
    height: 5px;
    text-align: center;
    margin-top: 1px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.alert-danger{
    margin-top: 1px;
    align-items: center;
    justify-content: center;
    display: flex;
    
}